---
title: Principles of Sampling
author: Alireza Behzadnia
date: '2018-03-26'
slug: research_design_intro
categories:
  - Clinical Research
  - Design
  - Sampling
weight: 5
---



<!--chapter:end:CopyOfsampling.Rmd-->
<p>A a good research question is targeted at a specific population. For example, “What is the risk of developing lung cancer among smokers?” specifies the population of interest - those who smoke.</p>
<p>Logistically, prospects of studying the population of interest is dim. Instead, a sample is taken as a reprasentative subset of the population.</p>
<p>Here we will look at a few sampling t</p>
<p>Randmised sample allows for generalisation</p>
<!--chapter:end:sampling.Rmd-->
