---
title: Structure of Clinical Research
author: Alireza Behzadnia
date: '2018-03-26'
slug: research_design_intro
categories:
  - Clinical Research
  - Design
weight: 3
---



<p>Clinical research is an essential part of practice of medicine. In short it is a project carried out by to investigate a research question - which should be focused on clinical aspect of medicine (i.e. the practice of medicine).</p>
<p>Structure of the research is heavily dependant on the subject of interest. However, almost all studies follow a logical and focused organisation. A study has to have:</p>
<ul>
<li><strong>Research question(s)</strong>
<ul>
<li>Which needs to be <em>FINER</em>: feasible, interesting, novel, ethical and relevant</li>
</ul></li>
<li><strong>Background and significance</strong>
<ul>
<li>Put the question in context and provides rationale for the study</li>
</ul></li>
<li><strong>Design</strong>
<ul>
<li><em>Observation</em>
<ul>
<li>Cohort studies: participants are divided into groups and are studied over a specified time frame
<ul>
<li>Time frame: prospective or retrospective</li>
</ul></li>
<li>Cross sectional study</li>
<li>Case control study</li>
</ul></li>
<li><em>Experimental</em>
<ul>
<li>Clinical trials</li>
<li>Randomised blinded trials</li>
</ul></li>
</ul></li>
<li><strong>Subjects</strong>
<ul>
<li>The population of interest</li>
<li>Requires inclusion and exclusion criteria to define the population of interest</li>
<li>Sampling: How the population will be sampled and how the participants would be recruited</li>
</ul></li>
<li><strong>Variables</strong>
<ul>
<li>Response variable(s): what will be studied - or more commonly - measured? -Also known as: outcome variable or dependent variable -Plotted on the Y-axis</li>
<li>Explanatory variable(s): what will be controled? the treatment
<ul>
<li>Also known as: predictor variable or independent variable</li>
<li>Plotted on the X-axis</li>
</ul></li>
<li>Confounding variable(s): variables that may influence our measured outcomes.
<ul>
<li>This should always be factored in the study design.</li>
<li>Randomization is a common method of minimizing the influence of confounding variables.</li>
</ul></li>
</ul></li>
<li><strong>Statistics</strong>
<ul>
<li>The most important and crucial part of the study</li>
<li>Enables us to analyse and infer from our data</li>
<li>How will we go about answering our question?</li>
<li>Involves:
<ul>
<li>Hypothesis</li>
<li>Estimate of the required sample size (power of the study)</li>
<li>How data will be collected</li>
<li>Statistical method that will analyse the data</li>
<li>What can we infer about the hypothesis from our data</li>
</ul></li>
</ul></li>
</ul>
